<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading Data</p>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="!hasError">Temperatures in {{city}} is {{(weatherData$ | async).temperature | number:'1.0-0'}} º</mat-card-title>
    <mat-card-title *ngIf="hasError">{{errorMessage}}</mat-card-title>
    <mat-card-subtitle *ngIf="!hasError"><img [src] = "image"></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>
    contry: {{country}}
    <p>
    longitude: {{lon}}
    <p>
    latitude: {{lat}}
    <p>

    <a routerLink="/city" routerLinkActive="active">Select city</a>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
